@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --font-inter: 'Inter', sans-serif;
    --font-worksans: 'Work Sans', sans-serif;
    --dark01:    #131313;
    --dark02:    #424242;
    --dark03:    #727272;
    --light01:   #FFFFFF;
    --primary:   #FF900E;
    --secondary: rgba(255, 144, 14, 0.1);
    --footer:    #FFF4E7;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html {
    font-size: clamp(14px, 1.5vw, 16px);
}
body {
    font-family: var(--font-worksans);
}
/* shared styles */
.flex {
    display: flex;
}
main,
.facts,
.features,
.sponsors,
footer {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
.btn-primary {
    background-color: var(--primary);
    color: var(--light01);
    border: none;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
}
.dark01 {
    color: var(--dark01);
}
.primary {
    color: var(--primary);
}
.regular-font {
    font-size: 1rem;
    color: var(--dark03);
    line-height: 26px;
    font-weight: 400;
}
/* header styles */
.container {
    width: 100%;
    background-color: var(--secondary);
}
.header-content {
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    text-align: center;
    padding: 3.5rem 0;
}
.header-content h3 {
    font-size: 3rem;
    color: var(--dark01);
    font-weight: 700;
}
/* navbar related styles */

.navbar ul {
    list-style: none;
    display: flex;
    gap: 1.75rem;
}

.link {
    text-decoration: none;
    color: var(--dark02);
    font-weight: 500;
    font-size: 1.25rem;
}
/* banner styles */
.banner {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 45px;
}
.banner-content {
    width: 100%;
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title,
.facts-title {
    font-size: 4rem;
    font-weight: 700;
    color: var(--dark01);
}
.banner-details,
.facts-details {
    margin: 32px 0 32px;
}
.banner-image {
    width: 100%;
}

/* teams section styles */
.teams {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 0;
    gap: 3rem;
}
.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.our-features {
    margin-left: 130px;
    max-width: 530px;
}
.feature-title {
    font-size: 2.8rem;
    font-weight: 700;
}
.feature-details {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

/* features section styles*/
.features {
    justify-content: space-between;
    align-items: center;
    gap: 54px;
}
.feature-img img {
    width: 100%;
}
.features .feature-card {
    width: 100%;
    max-width: 530px;
    padding: 30px;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 20px;
    box-shadow: 0 4px 30px 0 rgb(0, 0, 0, 0.06);
}
.feature-section-title {
    font-size: 2.8rem;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 22px;
    margin-bottom: 24px;
    margin-top: 140px;
}
.card-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--dark01);
}
.bTn {
    padding: 45px 40px;
    margin-left: -98px;
    margin-top: -100px;
}
.big-text {
    font-size: 4rem;
    font-weight: 700;
}
.small-text {
    font-size: 1.5rem;
    font-weight: 500;
}
/* facts section styles */
.facts {
    margin-top: 130px;
}
.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 125px;
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 5rem 1.5rem;
}
.facts-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--dark01);
}
.facts-details {
    width: 100%;
    max-width: 550px;
}
.fact-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    text-align: center;
    border: 1px solid var(--primary);
    width: 240px;
    height: 240px;
    border-radius: 8px;
}
.fact-number {
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--dark02);
    margin-top: 10px;
}
.fact-name {
    margin-top: 5px;
    font-size: 1.25rem;
    color: var(--dark03);
    font-weight: 500;
}
/* sponsors styles*/
.sponsors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sponsors p {
    width: 100%;
    max-width: 542px;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 50px;
}
.sponsor-img {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 155px;
}
.sponsor-img img {
    filter: grayscale(100);
    width: 100%;
}

/*footer styles*/
footer {
    background-color: var(--secondary);
    text-align: center;
    margin-top: 130px;
}
.footer-details {
    color: var(--dark03);
    font-size: 1.25rem;
    margin: 0 auto;
    padding: 40px 0 40px;
}
/* media queries */
@media screen and (max-width: 576px) {
    .header-content, .navbar ul {
        flex-direction: column;
        gap: 1.5rem;
    }
    .banner-title,
    .facts-title {
        font-size: 2rem;
    }
    .teams {
        flex-direction: column;
        gap: 2rem;
    }
    .team-img-container {
        grid-template-columns: 1fr;
        margin: 0 auto;
    }
    .team-img-container img {
        width: 100%;
        max-width: 300px;
    }
    .our-features {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
        text-align: center;
    }
    .features {
        flex-direction: column;
    }
    .feature-img {
        display: flex;
        flex-direction: column;
    }
    .feature-img img {
        margin: 0 auto;
        width: 100%;
        max-width: 300px;
    }
    .bTn {
        padding: 24px 16px;
        margin: 0 auto;
    }
    .big-text {
        font-size: 2.5rem;
    }
    .small-text {
        font-size: 1rem;
    }
    .facts-container {
        grid-template-columns: 1fr;
        gap: 12px;
        justify-items: center;
    }
    .facts-title,
    .facts-details {
        width: 100%;
        text-align: center;
    }
    .sponsor-img {
        grid-template-columns: 1fr;
        row-gap: 32px;
    }
    
}
@media  screen and (min-width: 577px) and (max-width:992px) {
    .header-content, .navbar ul {
        flex-direction: column;
        gap: 1.5rem;
    }
    .facts-container {
        grid-template-columns: 1fr 1fr;
        gap: 12px;
        justify-items: center;
    }
    .teams {
        flex-direction: column;
        gap: 2rem;
    }
    .team-img-container {
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
    }
    .team-img-container img {
        width: 100%;
        max-width: 300px;
    }
    .our-features {
        margin: 0 auto;
        max-width: 530px;
        text-align: center;
        }
    .feature-section-title {
        padding-left: 20px;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .features {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
     .feature-card {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }
    .feature-img {
        display: flex;
        flex-direction: column;
    }
    .feature-img img {
        margin: 0 auto;
        width: 100%;
        max-width: 500px;
    }
    .bTn {
        padding: 24px 16px;
        margin: 0 auto;
    }
    .big-text {
        font-size: 3rem;
    }
    .small-text {
        font-size: 1.5rem;
    }
    .facts-title,
    .facts-details {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    .sponsor-img {
        grid-template-columns: 1fr 1fr;
        row-gap: 32px;
    }
}