@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --font-inter: 'Inter', sans-serif;
    --font-worksans: 'Work Sans', sans-serif;
    --dark01:    #131313;
    --dark02:    #424242;
    --dark03:    #727272;
    --light01:   #FFFFFF;
    --primary:   #FF900E;
    --secondary: rgba(255, 144, 14, 0.1);
    --footer:    #FFF4E7;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html {
    font-size: clamp(14px, 1.5vw, 16px);
}
body {
    font-family: var(--font-worksans);
}
/* shared styles */
.flex {
    display: flex;
}
main,
.facts {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
.btn-primary {
    background-color: var(--primary);
    color: var(--light01);
    border: none;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
}
.dark01 {
    color: var(--dark01);
}
.dark03 {
    color: var(--dark03);
    font-weight: 500;
}
.primary {
    color: var(--primary);
}
/* header styles */
.container {
    width: 100%;
    background-color: var(--secondary);
}
.header-content {
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    text-align: center;
    padding: 3.5rem 0;
}
.header-content h3 {
    font-size: 3rem;
    color: var(--dark01);
    font-weight: 700;
}
/* navbar related styles */

.navbar ul {
    list-style: none;
    display: flex;
    gap: 1.75rem;
}

.link {
    text-decoration: none;
    color: var(--dark02);
    font-weight: 500;
    font-size: 1.25rem;
}
/* banner styles */
.banner {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 45px;
}
.banner-content {
    width: 100%;
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title,
.facts-title {
    font-size: 4rem;
    font-weight: 700;
    color: var(--dark01);
}
.banner-details,
.facts-details {
    font-size: 1rem;
    color: var(--dark03);
    margin: 32px 0 32px;
}
.banner-image {
    width: 100%;
}
/* teams section styles */
.teams {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 0;
    gap: 3rem;
}
.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.our-features {
    margin-left: 130px;
    max-width: 530px;
}
.feature-title {
    font-size: 2.8rem;
    font-weight: 700;
}
.feature-details {
    margin-top: 1rem;
    color: var(--dark03);
    font-size: 1rem;
    line-height: 1.75rem;
    margin-bottom: 2rem;
}
/* facts section styles */
.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 140px;
    width: 100%;
    max-width: 1340px;
    margin: 0 auto;
    padding: 5rem 0;
}
.facts-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--dark01);
}
.facts-details {
    width: 100%;
    max-width: 550px;
}
.fact-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    text-align: center;
    border: 1px solid var(--primary);
    width: 242px;
    height: 242px;
    border-radius: 8px;
}
.fact-number {
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--dark02);
    margin-top: 10px;
}
.fact-name {
    margin-top: 5px;
    font-size: 1.25rem;
    color: var(--dark03);
    font-weight: 500;
}
/* media queries */
@media screen and (max-width: 576px) {
    .header-content, .navbar ul {
        flex-direction: column;
        gap: 1.5rem;
    }
    .teams {
        flex-direction: column;
        gap: 2rem;
    }
    .team-img-container {
        grid-template-columns: 1fr;
        margin: 0 auto;
    }
    .our-features {
        width: 100%;
        max-width: 340px;
        margin: 0 auto;
        text-align: center;
    }
}